# pycache
__pycache__/

# Cython files
*.pyd
*.so
*.c

# Archives
__archive/

# mp4
*.mp4

# Thumbnails
thumbnail.*

# Mandelbrot fractal plots
fractals/mandelbrot/plots/*

# Julia fractal plots
fractals/julia_set/plots/*

# Exceptions for examples
!/fractals/julia_set/plots/cupy_julia_size2_iters50.png
!/fractals/julia_set/plots/cupy_julia_size50_iters100.png

!/fractals/mandelbrot/plots/cupy_mandelbrot_size2_iters50.png
!/fractals/mandelbrot/plots/cupy_mandelbrot_size50_iters100.png

# !/particle_simulation/vids/particle_simulation_ex_30secs.mp4
!/particle_simulation/vids/particle_simulation_ex_10secs.mp4
!/particle_simulation_3d/vids/particle_simulation_ex_10secs_3d.mp4
